 /*  Estilos para todos los bodys  */

body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    background-image: radial-gradient(#232F40,#000000 );
    font-family: 'Scorpion-Regular';
}

h2 {
    margin-bottom: .5em;
    font-family: 'Scorpion-Regular';
}

span{
    color: #7900ff;
}
