/*  Importaciones de fuentes  */

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@font-face {
    font-family: 'Scorpion-Regular';
    src: url('/src/fonts/Scorpion/Regular/Scorpion.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Arimo';
    src: url('/src/fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf') format('truetype');
}