 /*  Estilos para todos los footers  */

 footer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#000000, #7512e6);
    color: #ffffff;
    padding: 20px;
}

.left-section ul, .right-section ul {
    list-style: none;
    padding: 0;
}

.left-section a, .right-section a{
    text-decoration: none;
    font-family: "Scorpion-Regular";
}

.left-section ul li, .right-section ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.center-section {
    text-align: center;
    font-family: "Arimo";
    font-style: italic;
}

.center-section img {
    width: 100px;
    height: 100px;
}

.right-section ul {
    text-align: right;
}

.right-section ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.left-section img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.right-section img {
    width: 24px;
    height: 24px;
    margin-left: 10px; 
}
